<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metal Waste Recycling</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Metal Waste Recycling</h1>
    </header>
    <br>

    <div class="container">
        <div class="alert alert-danger">
            <p class="lead">The analyzed picture is identified as <b>metal waste</b>. Recycling metal is crucial for reducing energy consumption and conserving natural resources. Metal recycling helps prevent environmental degradation and supports a sustainable circular economy.</p>
        </div>

        <div class="alert alert-success">
            <h4 class="alert-heading">Recycling Tips:</h4>
            <ul>
                <li>Separate metal items, such as aluminum cans, steel containers, and household appliances, from other waste for recycling.</li>
                <li>Check with local recycling facilities to understand the types of metal they accept and the recycling process.</li>
                <li>Remove non-metal components, such as plastic or glass, from metal items before recycling.</li>
                <li>Support metal recycling programs and initiatives that promote responsible waste management.</li>
                <li>Consider reusing or repurposing metal items to extend their lifespan before recycling.</li>
                <li>Spread awareness in your community about the importance of metal recycling and its positive environmental impact.</li>
            </ul>
        </div>

        <p class="lead">By following these tips, you contribute to the efficient recycling of metal waste, conserving resources and minimizing the environmental footprint. Every small effort counts!</p>

        <div class="text-center mt-4">
            <a href="/up" class="btn btn-primary">Go Back</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
