<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plastic Waste Recycling</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-4">
        <h1>Plastic Waste Recycling</h1>
    </header>
    <br>

    <div class="container">
        <div class="alert alert-danger">
            <p class="lead">The analyzed picture is identified as <b>plastic waste</b>. Plastic pollution has severe consequences on ecosystems and marine life. It takes hundreds of years for plastic to decompose, and in the process, it releases harmful chemicals.</p>
        </div>

        <div class="alert alert-success">
            <h4 class="alert-heading">Recycling Tips:</h4>
            <ul>
                <li>Check local recycling guidelines to understand what types of plastic are accepted.</li>
                <li>Separate plastics from other waste to facilitate recycling processes.</li>
                <li>Ensure that plastic items are clean and free of contaminants before recycling.</li>
                <li>Look for recycling bins specifically designated for plastic waste in your community.</li>
                <li>Reduce plastic consumption by opting for reusable alternatives, such as cloth bags and stainless steel containers.</li>
                <li>Support initiatives and organizations working towards plastic waste reduction and environmental conservation.</li>
            </ul>
        </div>

        <p class="lead">By following these tips, you contribute to the reduction of plastic pollution and help create a healthier environment. Every small effort counts!</p>

        <div class="text-center mt-4">
            <a href="/up" class="btn btn-primary">Go Back</a>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
