<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waste Management Dashboard</title>
    <!-- Add any additional styles or meta tags as needed -->
</head>
<body>
<button style="padding: 10px 20px; font-size: 16px; background-color: #3498db; color: #fff; border: none; border-radius: 5px; cursor: pointer;"
        onmouseover="this.style.backgroundColor='#2980b9'"
        onmouseout="this.style.backgroundColor='#3498db'"
        onclick="location.href='/landing'">Back
</button>
<div class='tableauPlaceholder' id='viz1699618182422' style='position: relative'>
    <noscript><a href='#'><img alt='Waste Management '
                               src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;WasteManagement_16995935155630&#47;Sheet1&#47;1_rss.png'
                               style='border: none'/></a></noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value=''/>
        <param name='name' value='WasteManagement_16995935155630&#47;Sheet1'/>
        <param name='tabs' value='no'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;WasteManagement_16995935155630&#47;Sheet1&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
        <param name='language' value='en-US'/>
        <param name='filter' value='publish=yes'/>
    </object>
</div>
<script type='text/javascript'>
    var divElement = document.getElementById('viz1699618182422');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '100%';
    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);



</script>


<div class='tableauPlaceholder' id='viz1700234474294' style='position: relative'>
    <noscript><a href='#'><img alt='Comparison   '
                               src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3C&#47;3CZRZW365&#47;1_rss.png'
                               style='border: none'/></a></noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='path' value='shared&#47;3CZRZW365'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;3C&#47;3CZRZW365&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
        <param name='language' value='en-US'/>
        <param name='filter' value='publish=yes'/>
    </object>
</div>
<script type='text/javascript'>
                        var divElement = document.getElementById('viz1700234474294');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>

<div class='tableauPlaceholder' id='viz1700234735305' style='position: relative'>
    <noscript><a href='#'><img alt='Location wise study '
                               src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;WasteClassification_2&#47;Sheet2&#47;1_rss.png'
                               style='border: none'/></a></noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
        <param name='embed_code_version' value='3'/>
        <param name='site_root' value=''/>
        <param name='name' value='WasteClassification_2&#47;Sheet2'/>
        <param name='tabs' value='no'/>
        <param name='toolbar' value='yes'/>
        <param name='static_image'
               value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wa&#47;WasteClassification_2&#47;Sheet2&#47;1.png'/>
        <param name='animate_transition' value='yes'/>
        <param name='display_static_image' value='yes'/>
        <param name='display_spinner' value='yes'/>
        <param name='display_overlay' value='yes'/>
        <param name='display_count' value='yes'/>
        <param name='language' value='en-US'/>
        <param name='filter' value='publish=yes'/>
    </object>
</div>
<script type='text/javascript'>
                        var divElement = document.getElementById('viz1700234735305');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
</body>
</html>
