{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title></title>
        <link rel="icon" type="x-icon" href="{% static 'images/istockphoto-1384532150-612x612.jpg' %}"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <script
                type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
        ></script>
        <link
                href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900;1,1000&display=swap"
                rel="stylesheet"
        />
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"/>
        <style>
            /*.label-css{*/
            /*    text-align:left;*/
            /*}*/


        </style>

    </head>
    <body>

    <div class="container remove_scroll">
        <div class="content_container move-center">
            <div class="form_container2">
                <div class="form_wrapper2">
                    <h1 class="LP_heading3">Hi, Welcome to Management of Waste Classification </h1>
                    <div class="LP_wrapper">


                        <a href="/up">
                            <div class="LP_btn LP_btn2" style="top: 0px">
                                <span style="font-size:55px; font-weight: 900;"
                                      class="material-symbols-outlined LP_btn_content">dashboard</span>
                                <div class="">
                                    <div class="LP_btn_wrptxt">Classify Data</div>
                                </div>
                            </div>
                            <div class="LP_btn LP_btn2-und" style="top: 0px">
                                <div class="LP_btn_wrappertxt">
                                    <div class="LP_btn_txt">Ready to Classify!</div>
                                </div>
                            </div>
                        </a>
                        <br>
                        <a href="/dashboard">
                            <div class="LP_btn LP_btn2" style="top: 300px">
                                <span style="font-size:55px; font-weight: 900;"
                                      class="material-symbols-outlined LP_btn_content">dashboard</span>
                                <div class="">
                                    <div class="LP_btn_wrptxt">Dashboard</div>
                                </div>
                            </div>
                            <div class="LP_btn LP_btn2-und" style="top: 300px">
                                <div class="LP_btn_wrappertxt">
                                    <div class="LP_btn_txt">See insights</div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="var_btns_lg-ot">
                        <a href="/login" class="btn-css shake_right" title="Logout" id="lg-ot">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </body>
{% endblock %}

</html>
