@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Raleway, sans-serif;
}

body {
	background: linear-gradient(90deg, #3586B0, #3948A4);
}

/* .bgimg {
	background-image: linear-gradient(to right bottom, rgba(250, 250, 250, 0.3), rgba(250, 250, 250, 0.6)), url("{% static 'images/bg2.jpg' %}");
	overflow: hidden;
} */

.logo-css {
	width: 100px;
	text-align: center;
	margin-top: -80px;
	margin-left: 100px;
	padding: 5px;

}

.img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {
	background: linear-gradient(90deg, #232B63, #f3f7f7);
	position: relative;
	height: 605px;
	width: 365px;
	box-shadow: 10px 10px 10px #4b4c4f;
	border-radius: 15px;
}

.screen__content {
	z-index: 1;
	position: relative;
	height: 100%;
}

.screen__background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #1A9E9F;
	top: -50px;
	right: 120px;
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #303C8A;
	top: -172px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #0F5E5E, #158585);
	top: -24px;
	right: 0;
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #3948A4;
	top: 420px;
	right: 50px;
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.form-control {
	position: relative;

	margin: 20px 0 40px;

	width: 300px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px #3948a4 solid;
	display: block;
	width: 65%;
	padding: 15px 0;
	font-size: 14px;
	color: #2E469C;
}

.form-control input:focus,
.form-control input:valid {
	outline: 0;

	border-bottom-color: #eaefef;
}

.form-control label {
	position: absolute;

	top: 15px;

	left: 0;

	pointer-events: none;
	color: #1a9e9f;
}

.form-control label span {
	display: inline-block;

	font-size: 14px;
	font-weight: 600;

	min-width: 5px;

	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
	color: #3948a4;

	transform: translateY(-30px);
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #1a9e9f;
	box-shadow: 1px 5px 9px #595f7e;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	box-shadow: 2px 8px 9px #595f7e;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #3948a4;
}

.social-login {
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 8px #7875B5;
}
.forgot{
	margin-top: 85px; font-size: 14px;
}
/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	border-radius: 5px;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}

/* The Close Button */
.close {
	float: right;
	color: red;
	margin-top: -90px;
	font-weight: 700;
	font-size: 35px
}

.close:hover,
.close:focus {
	color: #884343;
	text-decoration: none;
	cursor: pointer;
}

.modal-body {
	margin-top: 20px;
}

.FP_Email {
	margin-bottom: 20px;
	padding: 5px;
	width: 80%;
}

.FP_Submit {
	padding: 5px;
	width: 100px;
	height: 30px;
	background-color: #3948a4;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.FP_Submit:hover {
	background-color: #fff;
	color: #1a9e9f;
	border: 2px solid #1a9e9f;
	font-weight: 700;
	padding: 5px;
	width: 100px;
	height: 30px;
	transition: box-shadow 300ms ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}